<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>

      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_ITicketsService" />
        </basicHttpBinding>
        <wsDualHttpBinding>
          <binding name="WSDualHttpBinding_INotificationService" closeTimeout="00:10:00"
            openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
            bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            useDefaultWebProxy="true">
            <reliableSession inactivityTimeout="00:35:00" />
          </binding>
        </wsDualHttpBinding>
      </bindings>
      
        <client>
            <endpoint address="http://localhost:56750/TicketsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITicketsService"
                contract="TicketsService.ITicketsService" name="BasicHttpBinding_ITicketsService" />
            <endpoint address="http://localhost:56750/NotificationService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_INotificationService"
                contract="NotificationService.INotificationService" name="WSDualHttpBinding_INotificationService">
                <identity>
                    <userPrincipalName value="BATCAVE-1337\Nuno Silva" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>